@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&family=Titillium+Web:wght@600&display=swap");

body {
  background: #990707;
}

.hover-green:hover {
  background-color: #279411;
}

.hover-red:hover {
  background-color: #c91010;
}
.thebg {
  z-index: -1;
}
.new {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 2rem;
  overflow-x: inherit;
}
.card {
  margin-right: inherit;

  background-size: 100% 100%;
  background-size: cover;

  width: 260px;
  height: 380px;
}
.poster {
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 4%;
  background: rgba(8, 8, 8, 0.904);
  opacity: 0;
  transition: 0.7s;
}

.card:hover .content {
  opacity: 1;
}

.title {
  padding-top: 30px;
  width: 100%;
  font-size: 24px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.copy {
  width: 100%;
  height: 120px;
  overflow: hidden;
  text-align: justify;

  font-size: 14px;
  font-weight: normal;
  font-family: arial, sans-serif;
}
.ee {
  font-size: 14px;
  font-weight: normal;
  font-family: arial, sans-serif;
}

.btn {
  background-color: #40b124; /* Green */
  border: none;
  color: white;
  padding-right: 35px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 18%;
  font-family: "Titillium Web", sans-serif;
  transition: 0.5s;
}
.so {
  transition: 0.5s;
  opacity: 0;
  position: relative;
  left: 0px;
}
.btn:hover .so {
  position: relative;
  opacity: 1;
  left: -10px;
}
.btn:hover {
  padding-left: 25px;
  padding-right: 30px;
  background-color: #279411;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
